# OS
.DS_Store

#ENV
.development.env
.production.env
ormconfig.json
yarn.lock
package-lock.json

# IDEs and editors
/.idea
/frontend/.idea
/backend/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
